@model complaint_tr.Models.Complaint

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Complaint</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.province)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.province)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.district)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.district)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.neighbourhood)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.neighbourhood)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.second_line)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.second_line)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.longitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.longitude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.latitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.latitude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.is_approved)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.is_approved)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.posting_date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.posting_date)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
