@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
@using Microsoft.AspNetCore.Identity
@using complaint_tr.Areas.Identity.Data;
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<header id="home" class="header">
        <div class="overlay"></div>

        <div id="header-carousel" class="carousel slide carousel-fade" data-ride="carousel">  
            <div class="container">
                <div class="carousel-inner">
                    <div id="map">

                    </div>
                
                @{await Html.RenderPartialAsync("_MapScript");}

                </div>
        


<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Şikayet Etmek İçin Kayıt Ol!</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            Sistemimize kayıt olarak sen de şikayetini belirtebilir ve çözülmesinde pay sahibi olabilirsin! Yaşadığın tüm sıkıntılarda yanınızdayız!
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

 <div class="col-md-4 d-none d-md-block order-1">
                            <ul class="list">
                                <li class="list-head">
                                    <h6>HERHANGİ BİR SORUNDA BİZE ULAŞ!</h6>
                                </li>
                                <li class="list-body">
                                    <p class="py-2">Şikayetin 1 saat içinde onaylanacaktır!</p>
                                    <p class="py-2"><i class="ti-email"></i>info@sikayetet.com</p>
                                    <p class="py-2"><i class="ti-microphone"></i> (+90)599-860-85-46</p>
        
                                </li>
                            </ul> 
                        </div>
                    </div>
            </div>        
        </div>

        <div class="infos container mb-4 mb-md-2">
            <div class="title">
                <h6 class="subtitle font-weight-normal">Eğer Merak Edersen</h6>
                <h5>Bize Ulaş!</h5>
                <p class="font-small">Sosyal Medya Hesaplarımız</p>
            </div>
            <div class="socials text-right">
                <div class="row justify-content-between">
                    <div class="col">
                        <a class="d-block subtitle"><i class="ti-microphone pr-2"></i>(+90)599-860-85-46</a>
                        <a class="d-block subtitle"><i class="ti-email pr-2"></i>info@sikayetet.com</a>
                    </div>
                    <div class="col">
                        <h6 class="subtitle font-weight-normal mb-2">Sosyal Medya Hesapları</h6>
                        <div class="social-links">
                            <a href="javascript:void(0)" class="link pr-1"><i class="ti-facebook"></i></a>
                            <a href="javascript:void(0)" class="link pr-1"><i class="ti-twitter-alt"></i></a>
                            <a href="javascript:void(0)" class="link pr-1"><i class="ti-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
